<!doctype HTML>
<html>
    <head>
        <title>Main Page </title>
    </head>
    <body>
        <h1> Signup </h1>
        <form action ="/validation" method = "POST" >

            <label for = "username">User Name: </label>
            <input id = "username" type = "text" name = "username" />
            <p style="color:red"> {{valid_username}}</p>

            <label for = "password">Password: </label>
            <input id = "password" type = "password" name = "password" />
            <p style="color:red"> {{valid_password}}</p>
            
            <label for = "verify_password">Verify Password: </label>
            <input id = "verify_password" type = "password" name = "verifypassword" /><br><br>

            <label for = "email">Email (optional): </label>
            <input id = "email" type = "text" name = "email" />
            <p style="color:red"> {{valid_email}}</p>
             
            <input type = "submit" value ="Submit"/>
        </form>
    </body>
</html>